MileStone 1

1) change column names

FAVC - frequent_consumption_of_high_caloric_food
FCVC - frequency_of_consumption_of_vegetables
NCP - number_of_main_meals
CAEC - consumption_of_food_between_meals
CH20 - consumption_of_water_daily
CALC - consumption_of_alcohol
SCC - calories_consumption_monitoring
FAF -  physical_activity_frequency
TUE - time_using_technology_devices
MTRANS - transportation_used
NObeyesdad - obesity_level

In [4]:
import pandas as pd


df = pd.read_csv('train_modified.csv')


df.rename(columns={
    'FAVC': 'frequent_consumption_of_high_caloric_food',
    'FCVC': 'frequency_of_consumption_of_vegetables',
    'NCP': 'number_of_main_meals',
    'CAEC': 'consumption_of_food_between_meals',
    'CH20': 'consumption_of_water_daily',
    'CALC': 'consumption_of_alcohol',
    'SCC': 'calories_consumption_monitoring',
    'FAF': 'physical_activity_frequency',
    'TUE': 'time_using_technology_devices',
    'MTRANS': 'transportation_used',
    'NObeyesdad': 'obesity_level'
}, inplace=True)

2)Finding and removing duplicate values

In [6]:
# Find duplicate
duplicates = df[df.duplicated()]

# Remove duplicate
df.drop_duplicates(inplace=True)

3) checking of any null or empty values(12,15)

In [7]:
# Checking for null values
null_values = df.isnull().sum()

# Check for strings in the specified columns (12, 15) 
empty_values_12 = df.iloc[:, 11].eq('').sum()
empty_values_15 = df.iloc[:, 14].eq('').sum()

# Replace empty strings with NaN for consistency
df.replace('', pd.NA, inplace=True)

# If desired, drop rows with null values in any column
df.dropna(inplace=True)

4)converting to csv

In [8]:
#save the new csv file
df.to_csv('cleaned_data.csv', index=False)